.portfolio-title {
    color: #0e6aaf;
    text-align: center;
    padding: 1rem;
    border-top: 5px solid #0e6aaf;
    border-right: 5px solid #0e6aaf;
}

.portfolio-description {
    color: #888;    
    font-weight: 400;
    font-size: 0.8rem;
}

.portfolio-subtitle {
    color: #0e6aaf;
    padding: 1rem;
    border-left: 3px solid #0e6aaf;
    border-bottom: 3px solid #0e6aaf;    
}

.portfolio-art {
    width: 50%;
}
.portfolio-art img {
    margin-bottom: 0.5rem;
    /*margin: 1rem auto;   */
}

.portfolio-table {
    margin: 2rem auto;
    border: 0px;
}

.portfolio-table tbody tr td {
    background-color: #FFF;
    border: 0px;
    padding: 1rem 1rem;
}

.big-page {
    max-width: 42rem;
}

.download-text {
    font-size: smaller;
    text-align: right;   
    color: #0e6aaf;
    margin-bottom: 0;
}