<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="/"><img class="logo" src="/images/logo.gif"/></a>
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %} hvr-forward" href="{{ '/' | relative_url }}">Blog</a>
      <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %} hvr-forward" href="/about/">About</a>
      <a class="sidebar-nav-item{% if page.url == '/resume/' %} active{% endif %} hvr-forward" href="/resume/">Resume</a>
      <hr />
      <a class="sidebar-nav-item hvr-forward" href="">Projects</a>
      <a class="sidebar-nav-item hvr-forward" href="">Designs</a>
      <a class="sidebar-nav-item hvr-forward" href="">Downloads</a>
      <!--<span class="sidebar-nav-item">Currently v{{ site.version }}</span>-->
    </nav>
    
    <footer class="container sidebar-sticky">
      <a href="mailto:ouessai.aes@gmail.com"><img class="social-icon" src="/images/email-logo.png" /></a>
      <a href="https://github.com/Acemad"><img class="social-icon" src="/images/github-logo.png"/></a>
      <a href="https://stackoverflow.com/users/1856928/acemad"><img class="social-icon" src="/images/so-logo.png"/></a>
      <a href="https://twitter.com/Acemad_"><img class="social-icon" src="/images/twitter-logo.png"/></a>      
      <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </footer>

  </div>
</div>
