<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="/"><img class="logo" src="/images/logo.png"/></a>
      <!-- <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p> -->
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item {% if page.url == '/' or page.layout == 'post' %} active {% endif %}" href="{{ '/' | relative_url }}">Blog</a>
      <a class="sidebar-nav-item {% if page.url == '/downloads/' %} active {% endif %}" href="/downloads/">Downloads</a>                          
      <a class="sidebar-nav-item {% if page.url == '/resume/' %} active {% endif %}" href="/resume/">Resume</a>
      <a class="sidebar-nav-item {% if page.url == '/projects/' %} active {% endif %}" href="/projects/">Projects</a>
      <a class="sidebar-nav-item {% if page.url == '/portfolio/' %} active {% endif %}" href="/portfolio/">Designs</a>
    </nav>
    
    <footer class="container sidebar-sticky">
      <a href="mailto:ouessai.aes@gmail.com"><img class="social-icon" src="/images/email-logo.png" /></a>
      <a href="https://github.com/Acemad"><img class="social-icon" src="/images/github-logo.png"/></a>
      <a href="https://stackoverflow.com/users/1856928/acemad"><img class="social-icon" src="/images/so-logo.png"/></a>
      <a href="https://twitter.com/Acemad_"><img class="social-icon" src="/images/twitter-logo.png"/></a>      
      <p>&copy; {{ site.time | date: '%Y' }}</p>
    </footer>

  </div>
</div>
